<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IGreedyService" sendTimeout="00:05:00" />
                <binding name="BasicHttpBinding_IHeuristicService" sendTimeout="00:05:00" />
                <binding name="BasicHttpBinding_IHeuristicService1" sendTimeout="00:05:00" />
                <binding name="BasicHttpBinding_IGreedyService1" sendTimeout="00:05:00" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:63260/GreedyService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGreedyService"
                contract="LocalGreedyService.IGreedyService" name="BasicHttpBinding_IGreedyService" />
            <endpoint address="http://localhost:55964/HeuristicService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHeuristicService"
                contract="LocalHeuristicService.IHeuristicService" name="BasicHttpBinding_IHeuristicService" />
            <endpoint address="http://alb-52191567.us-east-1.elb.amazonaws.com/HeuristicService/HeuristicService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHeuristicService1"
                contract="RemoteHeuristicService.IHeuristicService" name="BasicHttpBinding_IHeuristicService1" />
            <endpoint address="http://alb-52191567.us-east-1.elb.amazonaws.com/GreedyService/GreedyService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGreedyService1"
                contract="RemoteGreedyService.IGreedyService" name="BasicHttpBinding_IGreedyService1" />
        </client>
    </system.serviceModel>

	<system.net>
		<connectionManagement>
			<add address="*" maxconnection="1000"/>
		</connectionManagement>
	</system.net>
</configuration>