<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IGreedyService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49779/GreedyService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGreedyService"
                contract="LocalGreedyService.IGreedyService" name="BasicHttpBinding_IGreedyService" />
        </client>
    </system.serviceModel>
</configuration>